<div class="text-center">
  <h1>WelcomeGamers!</h1>
</div>

<div class="text-center">
  <h4>気の合う仲間たちと快適なゲームライフを！</h4>
</div>

<div class= "d-flex justify-content-center my-5">
  <%= link_to "新規登録", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "ログイン", new_user_session_path, class: "btn btn-lg btn-success" %>
</div>